.git
.gitignore
__pycache__
**/__pycache__
*.pyc
*.pyo
*.log
*.egg-info
.env
.env.*
.python-version
install.sh
docker-compose-dev.yml
.vscode
.github
.mimocode
LICENSE
README.md
example_config.json
demon-cry.log
docs/
searxng/
config.json
flake.nix
flake.lock
module.nix
package.nix
